/* style.css */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

:root {
    --bg-color: #080416;
    --highlight-color: #644ef2;

    font-family: "PT Sans", sans-serif;
    color: #ffffff
}

body {
    background-color: var(--bg-color);
}

.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 920px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    margin-top: 176px; 
}

/* Navigation Bar */
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    background-color: var(--highlight-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    width: 100%;
}
.navbar-title {
    /* background-color: aqua; */
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-title h1, h4 {
    /* background-color: #000000; */
     /* font-size: 1.875rem;
    line-height: 2.25rem */
    vertical-align: center;
    margin: 0;
    padding: 0;
}
.navbar-options {
    /* background-color: aqua; */
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: right;
    vertical-align: top;
    align-items: center;
    width: fit-content;
    display: flex;
    gap:20px
    /* text-align: right; */
}
.navbar-option {
    /* background-color: aquamarine; */
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin:0;
    text-decoration: none;
}
.gap-plus {
    /* gap: 12px */
}
.navbar-icon {
    /* background-color: yellow; */
    /* margin: 0 */
}
.navbar-text {
    /* background-color: red; */
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}